* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Helvetica", Sans-serif;
  font-size: 25px;
  background-color: black;
}

img {
  display: block;
  margin: 0 auto;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

header {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: lightpink;
}

h1 {
  text-align: center;
  color: beige;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}